@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-color: rgb(13, 148, 136);
}

body {
  background-color: #eef0f4;
}

iframe {
  -webkit-overflow-scrolling: touch;
  scrollbar-width: thin;
  scrollbar-color: #ccc #333;
  width: 100%;
  height: 100%;
}
