@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-color: rgb(13, 148, 136);
}

body {
  background-color: #eef0f4;
}

#iframe-container {
  -webkit-overflow-scrolling: touch;
}
